__pycache__/
*.pyc
.venv/
.env
models/*
!models/.keep
.gitkeep
!models/.keep
.cache/
uv.lock.backup
*.egg-info/
.mypy_cache
.pytest_cache
.ruff_cache
tmp
configs/model_config.local.yaml
configs/model_config.local.yml
